.search-bar {
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.middle-section {
  flex: 1;
  margin-right: 35px;
  margin-left: 70px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}
.search-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
}

.search-button:hover .tooltip {
  opacity: 1;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 241, 241);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.voice-search-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.voice-search-button:hover .tooltip {
  opacity: 1;
}
.voice-search-icon {
  height: 24px;
  margin-top: 4px;
  cursor: pointer;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, gre0en, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Arial;
  font-size: 16px;
}

.search-icon {
  height: 25px;
  cursor: pointer;
}
.voice-search-icon {
  height: 25px;
}

.upload-icon {
  height: 24px;
  cursor: pointer;
}

.youtube-apps-icon {
  height: 24px;
  cursor: pointer;
}

.notifications-icon {
  height: 24px;
  cursor: pointer;
}

.notification-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Arial;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.notification-icon-container:hover .tooltip {
    opacity: 1;
}

.notification-count {
  position: absolute;
  background-color: rgb(194, 8, 8);
  color: white;
  font-family: Arial;
  font-size: 11px;
  top: 0;
  right: 0;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 40px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.upload-icon-container {
  position: relative;
   display: flex;
  justify-content: center;
  align-items: center;
}

.upload-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  font-family: Arial;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.upload-icon-container:hover .tooltip {
  opacity: 1;
}


.youtube-apps-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube-apps-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  font-family: Arial;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.youtube-apps-container:hover .tooltip {
    opacity: 1;
}
