.side-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 77px;
    z-index: 200px;
    padding-top: 5px;
}


.sidebar-link {
    height:95px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: lightgray;
}

.sidebar-link img {
    height: 24px;
}

.sidebar-link div {
    font-family: Arial;
    font-size: 11px;

}