.thumb-fix {
  width: 100%;

}
.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}

.video-author,
.video-states {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 0;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 930px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 525px) {
    .video-grid {
      grid-template-columns: 1fr;
    }
  }
}
.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-family: arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

.video-link {
  display: block;
  color: inherit;
  text-decoration: none;
}